# Compiled class files
target/

# STS / Eclipse
.classpath
.project
.settings/
.metadata/

# IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Maven
.mvn/wrapper/maven-wrapper.jar

